<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main page</title>
</head>
<body>
    <h1><%=title%></h1>
    1. <a href='http://localhost:8080/signup'>인증받기</a>
    2. <a href='http://localhost:8080/token'>토큰받기/가입하기</a><br/>
    3. <a href='http://localhost:8080/login'>로그인</a><br/>
    4. <a href='http://localhost:8080/list'>사용자 정보</a><br/>
    5. <a href='http://localhost:8080/logout'>로그아웃</a><br/>
</body>
</html>