<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그아웃</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#logoutBtn').click(function(){
                sessionStorage.removeItem('loginToken')
                sessionStorage.clear

                location.replace('/')
            })
        })
    </script>
</head>
<body>
    <h1><%=title%></h1>
    <button id="logoutBtn">로그아웃</button>
</body>
</html>